.tasksList {
    list-style-type: none;
    font-size: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: left;
    align-items: end;
    border-bottom: 1px solid grey;
    padding: 15px;
    color:teal;
}

.list__item {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    margin: 10px 0;
}

.task__button {
    border:none;
    background-color: hsl(120, 98%, 35%);
    width: 50px;
    height: 50px;
    color:white;
}

.task__button--remove {
    background-color: hsl(0, 98%, 35%);
}

.task__button--remove.task__button--remove:hover {
    background-color: hsl(0, 98%, 45%);
    transition: 0.5s;
}

.task__button:hover {
    background-color: hsl(120, 98%, 45%);
    transition: 0.5s;
}

.task__content {
    text-align: center;
    color: rgb(50, 50, 50);
    font-size: 15px;

}

.taskList {
    padding: 0;
}

.taskList__item--hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: none;
}

.list__item--hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: none;
}